body{
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background: #232526 !important;  
    background: -webkit-linear-gradient(to right, #414345, #232526) !important;  
    background: linear-gradient(to right, #414345, #232526) !important;  */
    background: rgb(18,24,27) !important;
}

.container {
    /* background: rgba( 255, 255, 255, 0.35 ); */
    border-radius: 16px;
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    padding-bottom: 10%;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
}

input ,select{
    padding: 11px !important;
    border: 1px solid #cecaca !important;
    /* background-color: rgb(23, 20, 20) !important; */
    
}

/* Media query for small devices (phones) */
@media only screen and (max-width: 576px) {
    input,select{
        padding: 15px !important;
    }
}

/* Media query for medium devices (tablets) */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
    input,select{
        padding: 15px !important;
    }
}

.input-group {
    margin-bottom: 20px; 
}

.equal {
    font-size: 24px;
    color: #fff; 
    /* margin: 18px 0 !important; */
}
