/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --body-font:  'Ubuntu', sans-serif !important;
}

html,
body{
    height: 100%;
    font-family: var(--body-font);
}

.bg-body-tertiary{
    background-color: hsl(0 0% 6%) !important;
}

.form-control::placeholder{
    color:  rgb(145, 142, 142) !important;
    opacity: 10 !important;
}

.form-signin{
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within{
    z-index: 2;
}

.gradient__text {
    background: #FCEABB !important;
    background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-weight: 700 !important;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}

/* Media query for small devices (phones) */
@media only screen and (max-width: 576px) {
    span{
        font-size: 12.5px;
    }
}

/* Media query for medium devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    span{
        font-size: 12.5px;
    }
}

/* Media query for large devices (desktops) */
@media only screen and (min-width: 768px) {
    span{
        font-size: 14.5px;
    }
}
